<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

  <title>Attendance Table</title>
</head>
<body>
  <div class="container my-4">
    <h2>Attendance</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
          <th scope="col">9</th>
          <th scope="col">10</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Steve</td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
        </tr>
        <tr>
          <td>Thomas</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Alisha</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>John</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
        </tr>
        <tr>
          <td>Elena</td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox" checked></td>
          <td><input type="checkbox"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
