<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <title>Attendance Table</title>
</head>
<body>
  <div class="container my-4">
    <h2>Attendance</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          {% for day in range(1,days) %}
          <th>{{ day }}</th>
          {% endfor %}

        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          {% for i in range(1, days) %}
          <td><input type="checkbox" {% if row[i] %}checked{% endif %}></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>